    <main style="padding: 50px 50px 50px 50px">
        <div id="calculator-display"
             style="border: 2px solid black; min-height: 40px; max-width: 300px; font-size: 20px; vertical-align: bottom; margin-bottom: 20px">
            0
        </div>
        <div id="calculator-buttons" style="padding-left: 100px;">
            <div>
                <button id="number-1">1</button>
                <button id="number-2">2</button>
                <button id="number-3">3</button>
                <button id="operator-plus">+</button>
            </div>
            <div>
                <button id="number-4">4</button>
                <button id="number-5">5</button>
                <button id="number-6">6</button>
                <button id="operator-minus">-</button>
            </div>
            <div>
                <button id="number-7">7</button>
                <button id="number-8">8</button>
                <button id="number-9">9</button>
                <button id="operator-multiply">*</button>
            </div>
            <div>
                <button id="number-0">0</button>
                <button id="operator-divide">/</button>
                <button id="operator-equal">=</button>
            </div>
        </div>
    </main>

